@import "tailwindcss";

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    background-color: #262a33;
    color: white;
}

.headline {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
}

.main-headline {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 500;
  
  font-size:7rem;
  font-style: bold;
}

.hover-animate {
    cursor: pointer;
}

.doc-container {
  position: absolute;
}

.highlight {
  position: absolute;
  background: rgba(57, 255, 20, 0.5);
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left center;
  pointer-events: none;
}

/* --- TEMP --- */
/* [data-visual='2'] { opacity: 1 !important; }
.highlight { background: rgba(1, 251, 43, 0.35) !important; } */
