@import "tailwindcss";

body {
    font-family: 'Arial', Arial, sans-serif;
    margin: 0;
    background-color: #262a33;
    color: white;
}

.hover-animate {
    cursor: pointer;
}

.doc-container {
  position: absolute;
}

.highlight {
  position: absolute;
  background: rgba(57, 255, 20, 0.5);
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left center;
  pointer-events: none;
}

/* --- TEMP --- */
/* [data-visual='2'] { opacity: 1 !important; }
.highlight { background: rgba(1, 251, 43, 0.35) !important; } */
